.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #068a41;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  z-index: 10;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon,
.link {
  cursor: pointer;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.icon:hover,
.link:hover {
  color: black;
}

@media screen and (max-width: 630px) {
  .header button {
    position: absolute;
    right: 1rem;
    top: 5rem;
  }
}
